[*.cs]

# CS8618: Поле, не допускающее значения NULL, должно содержать значение, отличное от NULL, при выходе из конструктора. Возможно, стоит объявить поле как допускающее значения NULL.
dotnet_diagnostic.CS8618.severity = silent

# CS8604: Возможно, аргумент-ссылка, допускающий значение NULL.
dotnet_diagnostic.CS8604.severity = silent

# CA1805: Не делайте лишних инициализаций
dotnet_diagnostic.CA1805.severity = silent

# CS0618: Тип или член устарел
dotnet_diagnostic.CS0618.severity = silent
